# Database
POSTGRES_USER=erp_user
POSTGRES_PASSWORD=StrongPassword123
POSTGRES_DB=erp_db
POSTGRES_SERVER=postgres_db
POSTGRES_PORT=5432

# App
APP_NAME=ERP Backend
APP_ENV=development
SECRET_KEY=your-super-secret-key-for-jwt-please-change-this